<div class="container">
<ul class="custom_nav nav nav-tabs">
	<li class="<%= active?(root_path) %>">
		<%= link_to "Home", root_path %>
	</li>
	<li class="<%= active?(root_path) %>">
		<%= link_to "Spents", spents_path %>
	</li>
	<li class="<%= active?(root_path) %>">
		<%= link_to "Wallets", wallets_path %>
	</li>

	<li class="dropdown pull-right">
		 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong class="caret"></strong></a>
		<ul class="dropdown-menu">
			<li>
				<%= link_to "Edit details", edit_user_registration_path %>
			</li>

			<li>
				<%= link_to "Logout", destroy_user_session_path, method: :delete %>
			</li>
		</ul>
	</li>
</ul>
</div>