<%= form_for @wallet, class: "form-horizontal" do |f| %>

  <% if wallet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wallet.errors.count, "error") %> prohibited this wallet from being saved:</h2>

      <ul>
      <% wallet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :total, class: "col-sm-2 control-label" %>
    <%= f.text_field :total, class: "form-control" %>
  </div>

  <%= f.select(:user_id,
               User.order(:email).collect {|user| [user.email, user.id]},
               {include_blank: "Select User"},
               {class: "form-control"} ) %>
  <hr>
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
