<!DOCTYPE html>
<html>
  <head>
    <title>Where is my money?!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'shared/navbar' %>
  </head>

  <body >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render 'shared/nav' %>
          <%= yield %>
        </div>
      </div>
    </div>
   <%= js add_gritter(flash[:notice], title: "wmm app Notification", sticky: false, time: 3000) %>
  </body>

</html>
